@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_SpecialLayout.cshtml";
    ViewBag.UseSpecialNavbar = true;
}
<main aria-labelledby="title">
    <h1>Kontakty:</h1>
    <p>
        .
        .
        .
        .
        .
        .
        .
        .
        .
        .
        .
        .
        .
        .


    </p>
</main>