@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_SpecialLayout.cshtml";
    ViewBag.UseSpecialNavbar = true;
}
<main aria-labelledby="title">
    <h1>Kontakt:</h1>
    <p>
        Adminstrator
        <br />
        Telefon: +12 345 678 900
        <br />
        E-mail: example@microsoft.com
    </p>
    <p>
        Zastępca adminstratora
        <br />
        Telefon: +12 345 678 900
        <br />
        E-mail: example@microsoft.com
    </p>
</main>