@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_SpecialLayout.cshtml";
    ViewBag.UseSpecialNavbar = true;
}
<main aria-labelledby="title">
    <h1>Kontakt:</h1>
    <p>
        Telefon: +12 345 678 901
    </p>
    <p>
        Email : sample@microsoft.pl
    </p>
</main>